<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<style type="text/css">
form {
	width: 100%;
}
</style>

</head>

<body class="bg-gradient-primary">

	<nav th:replace="fragments/header_loader"></nav>

	<div class="container row">
		<div class="col-5 hidden"></div>
		<div class="card o-hidden border-0 shadow-lg my-5 col-6">
			<div class="card-body p-0">
				<div class="row">
					<form action="#" th:action="@{/signup}" method="post" class="user"
						enctype="multipart/form-data" th:object="${usuario}">
						<div>
							<div class="p-5">
								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Crear una cuenta</h1>
								</div>
								<div class="form-group row">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="text" class="form-control form-control-user"
											id="nombre" placeholder="Nombre" name="nombre"
											th:field="*{nombre}">
										<div class="error p-2" th:if="${#fields.hasErrors('nombre')}"
											th:errors="*{nombre}"></div>
									</div>
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="password" class="form-control form-control-user"
											id="contrasena" placeholder="Contraseña" name="contrasena"
											th:field="*{contrasena}">
										<div class="error p-2"
											th:if="${#fields.hasErrors('contrasena')}"
											th:errors="*{contrasena}"></div>
									</div>
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="email" class="form-control form-control-user"
											id="email" placeholder="Correo electronico" name="email"
											th:field="*{email}">
										<div class="error p-2" th:if="${#fields.hasErrors('email')}"
											th:errors="*{email}"></div>
									</div>
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="password" class="form-control form-control-user"
											id="repetircontrasenia" placeholder="Repite la contraseña">
									</div>
									<div class="col-sm-6 mb-3 mb-sm-0">
										<input type="date" class="form-control form-control-user"
											id="fecha" name="fechaNacimiento"
											th:field="*{fechaNacimiento}">
										<div class="error p-2"
											th:if="${#fields.hasErrors('fechaNacimiento')}"
											th:errors="*{fechaNacimiento}"></div>
									</div>
									<div class="p-2">
										<label class="col-sm-6 mb-3 mb-sm-0">Imagen: </label> <input
											type="file" class="form-control form-control-user"
											id="imagen" name="imagen">
									</div>
									<div class="alert alert-danger" role="alert" th:text="${error}"
										th:if="${error}"></div>
								</div>
							</div>
							<div></div>
							<div class="row">
								<div class="col-5 hidden"></div>
								<div class="col-1">
									<input type="submit" class="btn btn-primary btn-user btn-block"
										value="Registrate">
								</div>
								<div class="text-center">
									<a class="small" th:href="@{/login}">¿Tienes cuenta?
										¡Inicia sesi&oacute;n!</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>


</html>