<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
	<nav th:replace="fragments/header_loader"></nav>
	<div class="row m-2">
		<div class="container col-10">
			<h1>Este tu historial de conversaciones</h1>
			<p>Aqui podras editar, borrar o simplemente revisar tu
				conversaciones pasadas.</p>
			<div th:each="conversacion : ${conversaciones}">
				<div class="card p-2 m-1">
					<div class="card-body">
						<div>
							<span class="m-1 p-1"> <span
								th:if="${conversacion.usuario.imagen != null}"><img
									class="perfil border rounded"
									th:src="@{/imagenes-usuarios/{imagen}(imagen=${conversacion.usuario.imagen})}"></span>
								<span th:unless="${conversacion.usuario.imagen != null}"><i
									class="fas fa-user fa-2x p-1 navbar-right border rounded"></i></span>
							</span><span class="m-1" th:text="${conversacion.usuario.nombre}"></span>
						</div>
						<h5 class="card-title" th:text="${conversacion.titulo}"></h5>
						<p class="card-text" th:text="${conversacion.texto}"></p>
						<span th:if="${conversacion.imagen != null}"><img
							class="card-img-top conversacion-imagen m-2"
							th:src="@{/imagenes-conversacion/{conversacion}(conversacion=${conversacion.imagen})}"></span>
						<div class="row">
							<div class="col-2">
								<a
									th:href="@{/conversacion/{id}(id=${conversacion.idConversacion})}"
									class="btn btn-primary">Entrar</a>
							</div>
							<div
								th:if="${session.idUsuario == conversacion.usuario.getIdUsuario() or #authorization.expression('hasAuthority(''ROL_ADMIN'')')}"
								class="col-2">
								<a
									th:href="@{/conversacion/{juego}/borrar/{id}(id=${conversacion.idConversacion}, juego=${conversacion.juego})}"
									class="btn btn-danger">Borrar</a>
							</div>
							<div
								th:if="${session.idUsuario == conversacion.usuario.getIdUsuario()}"
								class="col-2 ">
								<a class="btn btn-secondary editar">Editar</a>
							</div>
							<p class="col-4">
								El dia : <span th:text="${conversacion.fechaFormateada()}"></span>
								A las : <span th:text="${conversacion.horaFormateada()}"></span>
							</p>
						</div>
						<div style="display: none;" class="col-4">
							<form action="post"
								th:action="@{/conversacion/editar/{id}(id=${conversacion.idConversacion})}"
								method="post" enctype="multipart/form-data"
								th:object="${conversacion}">
								<div class="form-group">
									<label class="">Titulo: </label> <input type="texto"
										id="titulo" name="titulo" th:value="${conversacion.titulo}"
										class="form-control form-control-user" th:field="*{titulo}">
									<div class="error p-2" th:if="${#fields.hasErrors('titulo')}"
										th:errors="*{titulo}"></div>
									<label class="">Texto: </label>
									<textarea class="form-control form-control-user" id="texto"
										th:text="${conversacion.texto}" name="texto"
										th:field="*{texto}"></textarea>
									<div class="error p-2" th:if="${#fields.hasErrors('texto')}"
										th:errors="*{texto}"></div>
									<label class="">Imagen: </label> <input type="file"
										class="form-control form-control-user" id="imagen"
										name="imagen">
								</div>
								<button type="submit" class="btn btn-primary btn-user btn-block">Confimar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>