<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
	<nav th:replace="fragments/header_loader"></nav>
	<div class="row m-2">
		<div class="container col-10">
			<h1>Esta es la lista de usuarios</h1>
			<div th:each="usuario : ${usuarios}">
				<div class="Card p-2 m-1">
					<div class="card-body">
					<div>
						<div class="col-2">
								<p>Nombre: <span th:text="${usuario.nombre}"></span></p>
							</div>
						<div class="col-2">
								<p>Correo electronico: <span th:text="${usuario.email}"></span></p>
							</div>
						<div class="col-2">
								<p>Fecha de nacimiento: <span th:text="${usuario.fechaNacimiento}"></span></p>
							</div>
						<div class="col-2">
								<p>roles: <span th:each="rol : ${usuario.roles}" th:text="@{{rol} (rol=${rol.nombreRol})}"></span></p>
							</div>
					</div>
						<div class="row">
							<div class="col-2">
								<a
									th:href="@{/usuario/perfil/{idUsuario}(idUsuario=${usuario.idUsuario})}"
									class="btn btn-primary">Entrar</a>
							</div>
							<div class="col-2">
								<a
									th:href="@{/usuario/borrar/{id}(id=${usuario.idUsuario})}"
									class="btn btn-danger">Borrar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>