<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<style>
td {
	font-weight: bold;
}

table {
	white-space: nowrap;
}
</style>

</head>
<body class="bg-gradient-primary">

	<nav th:replace="fragments/header_loader"></nav>

	<div class="row justify-content-center">
		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="row">
				<div class="col-lg-6">
					<div class="p-5">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0" role="grid" aria-describedby="dataTable_info"
									style="width: 100%;">
									<thead>
										<tr>
											<th>Producto</th>
											<th>Cantidad</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="listaDeCompras : ${listaDeCompras}">
											<td style="text-align: center"
												th:text="${listaDeCompras.idCompra}"></td>
											<td style="text-align: center"><a
												th:href="@{/compra/detalles/{id}(id=${listaDeCompras.idCompra})}"
												class="btn btn-primary"> Detalles</a></td>

										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>

</html>
