<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<style type="text/css">
form {
	width: 100%;
}
</style>

</head>

<body class="bg-gradient-primary">

	<nav th:replace="fragments/header_loader"></nav>

	<div class="row m-2">
		<div th:replace="fragments/menu_lateral"></div>
		<div class="card p-2 m-1 col-9">
			<div class="card-body">
				<div>
					<span class="m-1 p-1"> <span
						th:if="${conversacion.usuario.imagen != null}"><img
							class="perfil border rounded"
							th:src="@{/imagenes-usuarios/{imagen}(imagen=${conversacion.usuario.imagen})}"></span>
						<span th:unless="${conversacion.usuario.imagen != null}"><i
							class="fas fa-user fa-2x p-1 navbar-right border rounded"></i></span>
					</span><span class="m-1" th:text="${conversacion.usuario.nombre}"></span>
				</div>
				<h5 class="card-title" th:text="${conversacion.titulo}"></h5>
				<p class="card-text" th:text="${conversacion.texto}"></p>
				<span th:if="${conversacion.imagen != null}"><img
					class="card-img-top conversacion-imagen m-2"
					th:src="@{/imagenes-conversacion/{conversacion}(conversacion=${conversacion.imagen})}"></span>
				<div class="row">
					<div
						th:if="${session.idUsuario == conversacion.usuario.getIdUsuario() or #authorization.expression('hasAuthority(''ROL_ADMIN'')')}"
						class="col-2">
						<a
							th:href="@{/conversacion/borrar/{id}(id=${conversacion.idConversacion})}"
							class="btn btn-danger">Borrar</a>
					</div>
					<div
						th:if="${session.idUsuario == conversacion.usuario.getIdUsuario()}"
						class="col-2 ">
						<a class="btn btn-secondary editar">Editar</a>
					</div>
					<div class="col-2">
						<a class="btn btn-secondary abrir">Responder</a>
					</div>
					<p class="col-4">
						El dia : <span th:text="${conversacion.fechaFormateada()}"></span>
						A las : <span th:text="${conversacion.horaFormateada()}"></span>
					</p>
				</div>
				<div style="display: none;" class="col-4">
					<form action="post"
						th:action="@{/conversacion/editar/{id}(id=${conversacion.idConversacion})}"
						method="post" enctype="multipart/form-data"
						th:object="${conversacion}">
						<div class="form-group">
							<label class="">Titulo: </label> <input type="texto" id="titulo"
								name="titulo" th:value="${conversacion.titulo}"
								class="form-control form-control-user" th:field="*{titulo}">
							<div class="error p-2" th:if="${#fields.hasErrors('titulo')}"
								th:errors="*{titulo}"></div>
							<label class="">Texto: </label>
							<textarea class="form-control form-control-user" id="texto"
								th:text="${conversacion.texto}" name="texto" th:field="*{texto}"
								th:value="${conversacion.texto}"></textarea>
							<div class="error p-2" th:if="${#fields.hasErrors('texto')}"
								th:errors="*{texto}"></div>
							<label class="">Imagen: </label> <input type="file"
								class="form-control form-control-user" id="imagen" name="imagen">
						</div>
						<button type="submit" class="btn btn-primary btn-user btn-block">Confimar</button>
					</form>
				</div>
				<div style="display: none;" class="col-4">
					<form action="post"
						th:action="@{/respuesta/creado/{id}(id=${conversacion.idConversacion})}"
						method="post" class="col-12" th:object="${respuesta}">
						<input type="text" placeholder="Introduzca su respuesta"
							id="textoRespuesta" name="textoRespuesta"
							class="form-control form-control-user m-1 p-2"
							th:field="*{textoRespuesta}">
						<div class="error p-2"
							th:if="${#fields.hasErrors('textoRespuesta')}"
							th:errors="*{textoRespuesta}"></div>
						<button type="submit" class="btn btn-primary btn-user btn-block">Publicar</button>
					</form>
				</div>
			</div>


		</div>
		<div th:each="respuesta : ${respuestas}">
			<div class="row">
				<div class="col-2" style="display: hidden"></div>
				<div class="card p-2 m-1 col-9">
					<div class="card-body">
						<div>
							<span class="m-1 p-1"> <span
								th:if="${respuesta.usuario.imagen != '' && respuesta.usuario.imagen != null}"><img
									class="perfil border rounded"
									th:src="@{/imagenes-usuarios/{imagen}(imagen=${respuesta.usuario.imagen})}"></span>
								<span
								th:unless="${respuesta.usuario.imagen != '' && respuesta.usuario.imagen != null}"><i
									class="perfil fas fa-user fa-2x p-1 border rounded"></i></span>
							</span><span class="m-1" th:text="${respuesta.usuario.nombre}"></span>
						</div>
						<p class="card-text" th:text="${respuesta.respuesta}"></p>
						<div class="row">
							<div
								th:if="${session.idUsuario == respuesta.usuario.getIdUsuario() or #authorization.expression('hasAuthority(''ROL_ADMIN'')')}"
								class="col-4">
								<a
									th:href="@{/respuesta/borrar/{idConversacion}/{idRespuesta}(idRespuesta=${respuesta.idRespuesta},idConversacion=${conversacion.idConversacion})}"
									class="btn btn-danger">Borrar</a>
							</div>
							<div
								th:if="${session.idUsuario == respuesta.usuario.getIdUsuario()}"
								class="col-4 ">
								<a class="btn btn-secondary editar">Editar</a>
							</div>
							<p class="col-4">
								El dia : <span th:text="${respuesta.fechaFormateada()}"></span>
								A las : <span th:text="${respuesta.horaFormateada()}"></span>
							</p>
						</div>
						<div id="formularioEditar" style="display: none;">
							<form action="post"
								th:action="@{/respuesta/editar/{idConversacion}/{idRespuesta}(idRespuesta=${respuesta.idRespuesta},idConversacion=${conversacion.idConversacion})}"
								method="post" th:object="${respuestaEditar}">
								<div class="form-group">
									<textarea class="form-control form-control-user"
										id="textoRespuesta" th:text="${respuesta.respuesta}"
										name="textoRespuesta" th:field="*{textoRespuesta}"></textarea>
									<div class="error p-2"
										th:if="${#fields.hasErrors('textoRespuesta')}"
										th:errors="*{textoRespuesta}"></div>
								</div>
								<button type="submit" class="btn btn-primary btn-user btn-block">Confimar</button>
							</form>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</body>


</html>