<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<style type="text/css">
form {
	width: 100%;
}
</style>

</head>

<body class="bg-gradient-primary">

	<nav th:replace="fragments/header_loader"></nav>

	<div class="row m-2">
		<div th:replace="fragments/menu_lateral"></div>
		<div class=" col-2 hidden"></div>
		<div class="card o-hidden border-0 shadow-lg my-5 col-4">
			<div class="card-body p-0">
				<form action="#" th:action="@{/conversacion/creado}" method="post"
					class="user" enctype="multipart/form-data"
					th:object="${conversacion}">
					<div class="p-5">
						<div class="text-center">
							<h1 class="h4 text-gray-900 mb-4">
								Crear una Nueva Conversacion sobre <span
									th:text="${juego.nombre}"></span>
							</h1>
						</div>
						<div class="form-group">
							<input type="hidden" id="juego" name="juego"
								th:value="${juego.idJuego}" th:field="*{juego}">
							<div class="p-2">
								<input type="text" class="form-control form-control-user"
									id="titulo" placeholder="Titulo" name="titulo"
									th:field="*{titulo}">
							</div>
							<div class="error p-2" th:if="${#fields.hasErrors('titulo')}"
								th:errors="*{titulo}"></div>
							<div class="p-2">
								<textarea class="form-control form-control-user" id="texto"
									placeholder="Introduzca su texto" name="texto"
									th:field="*{texto}"></textarea>
							</div>
							<div class="error p-2" th:if="${#fields.hasErrors('texto')}"
								th:errors="*{texto}"></div>
							<div class="p-2">
								<label class="">Imagen: </label> <input type="file"
									class="form-control form-control-user" id="imagen"
									name="imagen">
							</div>

							<div class="alert alert-danger" role="alert" th:text="${error}"
								th:if="${error}"></div>
						</div>
						<div class="form-group">
							<div>
								<input type="submit"
									class="form-control form-control-user btn btn-primary btn-user btn-block"
									value="Publicar Conversacion">
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>


</html>