<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
	<nav th:replace="fragments/header_loader"></nav>
	<div class="row m-2">
		<div th:replace="fragments/menu_lateral"></div>

		<div class="container col-10">
			<h1>Counter Strike : Global Ofensive</h1>
			<p>Bienvenido a la seccion de Counter Strike : Global Ofensive en
				esta podras hablar con otros amantes de Counter Strike : Global
				Ofensive.</p>
			<p>Abajo veras diversas conversaciones empezadas por otros
				usuarios.</p>
			<form action="login" th:action="@{/conversacion/crear}" method="post"
				class="user">
				<input type="hidden" value="lol" id="tema" name="tema">
				<button type="submit" class="btn btn-primary btn-user btn-block">Nuevo</button>
			</form>
			<div th:each="conversacion : ${conversacion}">
				<div class="Card p-2 m-1">
					<div class="card-body">
						<p>
							Creado por: <span th:text="${conversacion.usuario.nombre}"></span>
						</p>
						<h5 class="card-title" th:text="${conversacion.titulo}"></h5>
						<p class="card-text" th:text="${conversacion.texto}"></p>
						<div class="row">
							<div class="col-2">
								<a th:href="@{/conversacion/{id}(id=${conversacion.idConversacion})}"
									class="btn btn-primary">Entrar</a>
							</div>
							<div
								th:if="${session.idUsuario == conversacion.usuario.getIdUsuarios() or #authorization.expression('hasAuthority(''ROL_ADMIN'')')}"
								class="col-2">
								<a
									th:href="@{/conversacion/{tema}/borrar/{id}(id=${conversacion.idConversacion}, tema=${conversacion.tema})}"
									class="btn btn-secondary">Borrar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>