<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
	<nav th:replace="fragments/header_loader"></nav>
	<div class="row m-2">
		<div th:replace="fragments/menu_lateral"></div>

		<div class="container col-10">
			<h1 th:text="${juego.nombre}"></h1>
			<p>
				Bienvenido a la seccion de <span th:text="${juego.nombre}"></span>
				en esta podras hablar con otros amantes de <span
					th:text="${juego.nombre}"></span>
			</p>
			<p>Abajo veras diversas conversaciones empezadas por otros
				usuarios.</p>
			<form action="get" th:action="@{/conversacion/crear}" method="get">
				<button type="submit" class="btn btn-primary btn-user btn-block">Nuevo</button>
			</form>
			<div th:each="conversacion : ${conversaciones}">
				<div class="card p-2 m-1">
					<div class="card-body">
						<div>
							<span class="m-1 p-1"> <span
								th:if="${conversacion.usuario.imagen != null}"><img
									class="perfil border rounded"
									th:src="@{/imagenes-usuarios/{imagen}(imagen=${conversacion.usuario.imagen})}"></span>
								<span th:unless="${conversacion.usuario.imagen != null}"><i
									class="fas fa-user fa-2x p-1 navbar-right border rounded"></i></span>
							</span><span class="m-1" th:text="${conversacion.usuario.nombre}"></span>
						</div>
						<h5 class="card-title" th:text="${conversacion.titulo}"></h5>
						<p class="card-text" th:text="${conversacion.texto}"></p>
						<span th:if="${conversacion.imagen != null}"><img
							class="card-img-top conversacion-imagen m-2"
							th:src="@{/imagenes-conversacion/{conversacion}(conversacion=${conversacion.imagen})}"></span>
						<div class="row">
							<div class="col-2">
								<a
									th:href="@{/conversacion/{id}(id=${conversacion.idConversacion})}"
									class="btn btn-primary">Entrar</a>
							</div>
							<div
								th:if="${session.idUsuario == conversacion.usuario.getIdUsuario() or #authorization.expression('hasAuthority(''ROL_ADMIN'')')}"
								class="col-2">
								<a
									th:href="@{/conversacion/{juego}/borrar/{id}(id=${conversacion.idConversacion}, juego=${conversacion.juego})}"
									class="btn btn-danger">Borrar</a>
							</div>
							<div
								th:if="${session.idUsuario == conversacion.usuario.getIdUsuario()}"
								class="col-2 ">
								<a class="btn btn-secondary editar">Editar</a>
							</div>
							<p class="col-4">
								El dia : <span th:text="${conversacion.fechaFormateada()}"></span>
								A las : <span th:text="${conversacion.horaFormateada()}"></span>
							</p>
						</div>
						<div style="display: none;">
							<form action="post"
								th:action="@{/conversacion/{juego}/editar/{id}(id=${conversacion.idConversacion}, juego=${conversacion.juego})}"
								method="post">
								<div class="form-group">
									<input type="texto" id="titulo" name="titulo"
										th:value="${conversacion.titulo}"
										class="form-control form-control-user">
									<textarea class="form-control form-control-user" id="texto"
										th:text="${conversacion.texto}" name="texto" required="true"></textarea>
								</div>
								<button type="submit" class="btn btn-primary btn-user btn-block">Confimar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>