<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<style type="text/css">
.rota-horizontal {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
</style>
</head>
<body>
	<nav
		class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		<a th:href="@{/index}" class="btn btn-primary"> <i
			class="fas fa-home"></i> Home
		</a>
		<form action="#" th:action="@{/filtrado}" method="post"
			class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
			<div class="input-group">
				<input type="text" class="form-control bg-light border-0 small"
					placeholder="Buscar producto" aria-label="Search"
					aria-describedby="basic-addon2" name="nombre">
				<div class="input-group-append">
					<button class="btn btn-primary" type="submit">
						<i class="fas fa-search fa-sm"></i>
					</button>
				</div>
			</div>
		</form>

		<ul class="navbar-nav ml-auto">
			<a class="btn btn-primary" th:href="@{/compra/carrocompra}"
				style="margin: auto;"> <i
					class="fas fa-shopping-cart rota-horizontal"></i>Carrito
			</a>


			<li><div class="topbar-divider d-none d-sm-block"></div></li>

			<li class="nav-item dropdown no-arrow"
				th:switch="${session.listacarro}"><a th:case="null"
				class="nav-link dropdown-toggle" id="userDropdown" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="mr-2 d-none d-lg-inline text-gray-600 small">Iniciar
						sesi&oacute;n</span> <img class="img-profile rounded-circle"
					src="../../images/login.jpg">
			</a>
				<div
					class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
					aria-labelledby="userDropdown">
					<a class="dropdown-item" th:href="@{/user/perfil}"> <i
						class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Perfil
					</a>
				
				<div class="dropdown-divider"></div>
					<a class="dropdown-item" th:href="@{/user/logout}"> <i
						class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
						Logout
					</a>
					</div> 
				<a class="nav-link dropdown-toggle" id="userDropdown" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="mr-2 d-none d-lg-inline text-gray-600 small"
					th:text="${session.nombre}"></span>
					
			</a>
			</li>
		</ul>

	</nav>
</body>



</html>