<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<meta charset="utf-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
	
<link rel="stylesheet" type="text/css"
	th:href="@{/css/solid.min.css}">
	
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">

</head>
<body>
	<nav class="navbar navbar-default navbar-light bg-light p-2">
		<div class="navbar-header">
			<a th:href="@{/}" class="btn btn-primary"> 
				<i class="fas fa-home"></i>Home
			</a>
		</div>
		<div class="gnav">
			<div class="nav navbar-nav navbar-right ">
			<a th:href="@{/registro}" class="btn btn-primary">
				<i class="fas fa-user fa-2x p-1"></i>
			</a>
			</div>
		</div>
	</nav>
</body>
</html>

