<html>
	<head>

	 <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.min.css}">
	 <meta charset="utf-8" />
	 <style>
		td {font-weight: bold;}
	 </style>
	 
	</head>
	<body class="bg-gradient-primary">
	
	<nav th:replace="fragments/header_public"></nav>
	
    <div class="row justify-content-center">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="row">
              <div class="col-lg-6">
                <div class="p-5">
 					<form action="#" th:action="@{/producto/crear}" method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="nombre" class="col-form-label">Nombre</label> <input
									type="text" class="form-control" id="nombre" name="nombre"
									placeholder="Nombre" required="true">
							</div>

							<div class="form-group col-md-8">
								<label for="descripcion" class="col-form-label">Descripci&oacute;n</label>
								<input type="text" class="form-control" name="descripcion" id="descripcion"
									placeholder="Descripcion" required="true">
							</div>
							
							<div class="form-group col-md-8">
								<label for="precio" class="col-form-label">Precio</label>
								<input type="number" step="0.01" class="form-control" name="precio" id="precio" required="true" min="0" placeholder="Precio en €">
							</div>
							
							<div class="form-group col-md-8">
								<label for="descuento" class="col-form-label">Porcentaje de descuento</label>
								<input type="number" class="form-control" name="descuento" id="descuento" min="0" max="100" placeholder="Descuento en %">
							</div>

							<label>Selecciona la imagen:
							<input type="file" id="imagen" name="imagen" required="true" >
							</label>
							
							
							<br/>
							<br/>
							
							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Crear Producto">
							</div>
							
							<div class="form-group col-md-8"></div>

						</div>
					</form>
                </div>
              </div>
            </div>

      </div>	
    </div>    
	</body>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
</html>