<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<style>
td {
	font-weight: bold;
}

table {
	white-space: nowrap;
}

.image-upload>input {
	display: none;
}
</style>
<script type="text/javascript">
	 	$(function(){
		    $("#upload_link").on('click', function(e){
		        e.preventDefault();
		        $("#upload:hidden").trigger('click');
		    });
		    $("#upload:hidden").on('change', function(e){
		        e.preventDefault();
		        //submit form
		        $('#inputForm').submit();
		    });
		});
	 </script>
</head>
<body class="bg-gradient-primary">

	<nav th:replace="fragments/header_loader"></nav>

	<div class="row justify-content-center">

		<div class="card o-hidden border-0 shadow-lg my-5 col-10">
			<div class="row">
				<div class="col-lg-12">
					<div class="p-5">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0" role="grid" aria-describedby="dataTable_info"
									style="width: 100%;">
									<tr>
										<th>Imagen del producto</th>
										<th>Nombre del producto</th>
										<th>Descripci&oacute;n del producto</th>
										<th>Precio del producto</th>
										<th>Descuento del producto</th>
									</tr>
									</thead>
									<tbody>
										<tr style="text-align: center">
											<td sec:authorize="hasAuthority('ROL_ADMIN')">
												<form
													th:action="@{/imagenes/cargar/{idProducto}(idProducto=${producto.idProducto})}"
													method="POST" enctype="multipart/form-data">
													<div class="image-upload">
														<label for="file-input"> <img
															th:src="@{/imagenes/{idProducto}(idProducto=${producto.idProducto})}"
															width="100" height="100" />
														</label> <input name="file" id="file-input" type="file"
															onchange="this.form.submit();" />
													</div>
												</form>
											<td sec:authorize="hasAuthority('ROL_REGISTRADO')"><img
												th:src="@{/imagenes/{idProducto}(idProducto=${producto.idProducto})}"
												width="100" height="100" /></td>
											</td>
											<td style="text-align: center" th:text="${producto.nombre}"></td>
											<td style="text-align: center"
												th:text="${producto.descripcion}"></td>
											<td style="text-align: center"
												th:text="${producto.precio}+'€'"></td>
											<td style="text-align: center"
												th:text="${producto.descuento}+'%'"></td>

										</tr>
									</tbody>
								</table>

							</div>
						</div>

						<div class="text-center" style="width: 800px; margin: 0 auto;"
							sec:authorize="hasAuthority('ROL_ADMIN')">
							<a
								th:href="@{/producto/borrar/{idProducto}(idProducto=${producto.idProducto})}"
								class="btn btn-primary">Borrar este producto</a>
						</div>
						<div class="text-center" style="width: 800px; margin: 0 auto;">
							<a
								th:href="@{/compra/add/{idProducto}(idProducto=${producto.idProducto})}"
								class="btn btn-primary">A&ntilde;adir este producto</a>
						</div>
						<div class="text-center" style="width: 800px; margin: 0 auto;">
							<form action="#"
								th:action="@{/compra/{idProducto}(idProducto=${producto.idProducto})}"
								method="post">
								<input type="submit" value="Comprar Producto"
									class="btn btn-primary">
							</form>
						</div>


						<form>
							<label class="col-form-label" for="pregunta">Escriba su
								pregunta</label>
							<textarea id="preguntaTexto" name="preguntaFormulario"
								class="form-control"></textarea>
							<textarea id="idProducto" name="preguntaFormulario"
								class="form-control" style="visibility: hidden;"
								th:text="${producto.idProducto}"></textarea>
							<button type="button" id="crearBotonPregunta"
								class="btn btn-primary">Publicar pregunta</button>
						</form>

						<div id="preguntaError"></div>

						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0" role="grid" aria-describedby="dataTable_info"
							style="width: 100%;">
							<thead>
								<tr>
									<th>Usuarios</th>
									<th>Preguntas</th>
									<th>Fecha de publicacion</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody id="cuerpoTabla">

								<tr th:each="Pregunta : ${Preguntas}">
									<td style="text-align: center"
										th:text="${Pregunta.usuario.getNombre()}"></td>
									<td style="text-align: center" th:text="${Pregunta.Pregunta}"></td>
									<td th:id="${Pregunta.idPregunta}" style="display: none;"></td>
									<td style="text-align: center"
										th:text="${Pregunta.fechaFormateada()}"></td>
									<td>
										<form>
											<button type="button" id="mostrar" class="btn btn-primary">Responder</button>
											<div style="display: none;">
												<textarea id="textoRespuesta" name="textoRespuesta"
													class="form-control"></textarea>
												<button type="button" id="botonRespuesta"
													class="btn btn-primary" th:value="${Pregunta.idPregunta}">
													Aceptar</button>
											</div>
											<div th:if="${session.idUsuario == Pregunta.usuario.getIdUsuarios() or #authorization.expression('hasAuthority(''ROL_ADMIN'')')}">
												<button type="button" id="botonPreguntaBorrar"
													class="btn btn-primary" th:value="${Pregunta.idPregunta}">
													<i class="far fa-trash-alt"></i> borrar
												</button>
											</div>
										</form>
									</td>

									<td th:id="'Respuesta' + ${Pregunta.idPregunta}">
										<div class="row">
											<span class="col-3" style="text-align: center">Usuarios</span>
											<span class="col-3" style="text-align: center">Respuesta</span>
											<span class="col-3" style="text-align: center">FechaPublicacion</span>
											<span class="col-3" style="text-align: center">Opciones</span>
										</div>
										<div class="row" th:each="Respuesta : ${Pregunta.respuestas}">
											<span th:id="'Respuesta' + ${Respuesta.idRespuesta}" style="display:none"></span>
											<span class="col-3" style="text-align: center"
												th:text="${Respuesta.usuario.getNombre()}"></span> 
											<span
												th:id="'RespuestaTexto' + ${Respuesta.idRespuesta}"
												class="col-3" style="text-align: center"
												th:text="${Respuesta.Respuesta}">
											</span> 
											<span class="col-3" style="text-align: center"
												th:text="${Respuesta.fechaFormateada()}"></span> 
											<span
												class="col-3" style="text-align: center"
												th:if="${session.idUsuario == Respuesta.usuario.getIdUsuarios() or #authorization.expression('hasAuthority(''ROL_ADMIN'')')}">
												<button type="button" id="botonRespuestaBorrar"
													class="btn btn-primary" th:value="${Respuesta.idRespuesta}">
													<i class="far fa-trash-alt"></i> borrar
												</button> <br>
												<button type="button" id="mostrar" class="btn btn-primary">Editar</button>
												<span style="display: none;"> <textarea
														id="textoEditarRespuesta" name="textoEditarRespuesta"
														class="form-control"></textarea>
													<button type="button" id="botonEditarRespuesta"
														class="btn btn-primary"
														th:value="${Respuesta.idRespuesta}">Aceptar</button>
											</span>
											</span>
										</div>
									</td>
								</tr>
								<tr id="preguntaPublicada"></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>