<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<style>
td {
	font-weight: bold;
}

table {
	white-space: nowrap;
}
</style>

</head>
<body class="bg-gradient-primary">

	<nav th:replace="fragments/header_loader"></nav>

	<div class="row justify-content-center">
		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="row">
				<div class="col-lg-6">
					<div class="p-5">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0" role="grid" aria-describedby="dataTable_info"
									style="width: 100%;">
									<thead>
										<tr>
											<th>Nombre del producto</th>
											<th>Cantidad</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="listacarro : ${listacarro}">
											<td style="text-align: center"
												th:text="${listacarro.nombreProductoCarro}"></td>
											<td style="text-align: center"
												th:text="${listacarro.cantidadProductoCarro}"></td>
											<td style="text-align: center"
												th:value="${listacarro.idProductoCarro}"><a
												th:href="@{/compra/quitarcarro/{id}(id=${listacarro.idProductoCarro})}">
													<i class="far fa-trash-alt"></i>

											</a></td>
											<!-- <td style="text-align:center" th:text="${listacarro.precioProductoCarro}+'€'">€</td>-->
										</tr>
									</tbody>
								</table>
								<form action="#" th:action="@{/compra/realizar}" method="post">
									<input type="submit" class="btn btn-primary"
										value="Finalizar compra">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</body>



</html>