<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
	<nav th:replace="fragments/header_loader"></nav>
	<div class="row m-2">
		<div th:replace="fragments/menu_lateral"></div>

		<div class="container col-10">
			<div th:replace="fragments/index_mensaje_cargador"></div>
			<div class="row">
				<div th:each="juego : ${juegos}" class="Card col-5 p-2 m-1">
					<img class="card-img-top" src="/images/lol.jpg"
						alt="League Of Legends">
					<div class="card-body">
						<h5 class="card-title" th:text="${juego.nombre}"></h5>
						<a th:href="@{/juegos/{juego}(juego=${juego.idJuego})}"
							class="btn btn-primary">Entrar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>