<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
	<nav th:replace="fragments/header_loader"></nav>
	<div class="row m-2">
		<div class="list-group col-2">
			<a href="#" class="list-group-item list-group-item-action">League
				Of Legends(LoL)</a> <a href="#"
				class="list-group-item list-group-item-action">Counter Strike:
				Global Ofensive(CSGO)</a> <a href="#"
				class="list-group-item list-group-item-action">Valorant</a>
		</div>

		<div class="container col-10">
			<h1>¡Bienvenido!</h1>
			<p>
				Esta pagina web sirve como punto de encuentro entre jugadores de
				diversos juegos entre ellos: League of Legends, Valorant y Counter
				Strike Global Ofensive. Para poder interactuar debes <a
					th:href="@{/registro}">Crear una cuenta</a> y podras especificar en
				que juegos buscar compañeros.
			</p>
			<p>
				Si ya tienes cuenta y has <a th:href="@{/login}">iniciado sesion</a>
				dale a las imagenes de abajo o al menu lateral de la izquierda y
				selecciona el juego del cual quieres buscar jugadores.
			</p>
			<div class="row">
				<div class="Card col-3 p-2">
					<img class="card-img-top" src="/images/lol.jpg"
						alt="League Of Legends">
					<div class="card-body">
						<h5 class="card-title">League Of Legends(LOL)</h5>
						<a th:href="@{/registro}" class="btn btn-primary">Entrar</a>
					</div>
				</div>
				<div class="col-1"></div>
				<div class="Card col-3 p-2">
					<img class="card-img-top" src="/images/valorant.jpg" alt="Valorant">
					<div class="card-body">
						<h5 class="card-title">Valorant</h5>
						<a th:href="@{/registro}" class="btn btn-primary">Entrar</a>
					</div>
				</div>
				<div class="col-1"></div>
				<div class="Card col-3 p-2">
					<img class="card-img-top" src="/images/csgo.jpg"
						alt="Counter Strike: Global Ofensive">
					<div class="card-body">
						<h5 class="card-title">Counter Strike : Global Ofensive(CSGO)</h5>
						<a th:href="@{/registro}" class="btn btn-primary">Entrar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>